

    
  
      <!-- <title>ANGULAR PROJECT</title>
      
      <body>
        <h1><span>MAGESHWARI </span>G</h1>
        <h2>I am a full stack developer</h2>

        <div class="angular">
          

          <nav>
           
          <ul type="bullet"> -->
              
            <nav>
              <a [routerLink]="'/home'">HOME</a>


              <a [routerLink]="'/create'">CREATE</a>
              <a [routerLink]="'/manage'">MANAGE</a>
              <a [routerLink]="'view/:code'">VIEW</a>
            </nav>
            
              

             <!-- <a href="section1">CREATE </a>
            <a href="section2">MANAGE</a>
            <a href="section3">VIEW</a> -->
             <form>
              <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-4 my-sm-7" type="submit">Search</button>
                      </form>

          <!-- </ul>
          
          </nav>
          <img src="https://wallpapercave.com/wp/wp7732979.jpg">

</div>
<div class="content">
<h2>THE WEB DEVELOPMENT FRAMEWORK FOR BUILDING A FUTURE</h2>
<div class="place">
  <input type="text"placeholder="ENTER YOU NAME">
    
  <button>LETS START</button>
</div>

</div>
<div class="api">
  <h1>API CALLING</h1>
  <h2>There are four ways to call a api
    <ul>
      <li>GET</li>
      <li>POST</li>
      <li>PUT</li>
      <li>DELETE</li>

    </ul>
  </h2>
</div>



<div class="skills">

<div class="title">

<h1>OUR SKILLS</h1>
<div class="box">
  <div class="cards">

  <h2>NPM</h2>
  <div class="para">
  <p>The node packet Manager for all web developers.NPM is the primary tool 
    used ti install thousands of client-side web development
  </p>
</div>
</div> 
 



 <div class="cards">


  <h2>ANGULAR CLI</h2>
  <div class="para">
  <p> The first  Angular package you should install  with ANGUKAR CLI(command line interface),it uses 
    of beyond of application </p>
</div>
</div>


<div class="cards">


  <h2>HTML AND CSS</h2>
  <div class="para">
  <p>HYPERTEXT MARKUP LANGUAGE and CASCADING STYLE SHEET is used to 
    design the web pages  </p>
</div>
</div> -->

 

 
      
<router-outlet></router-outlet> 

